<table id="routetable" class="table is-fullwidth" onload="sortTable()">
  <thead>
    <tr>
      <th>Route</th>
      <th>Grade</th>
      <th>Height</th>
      <th>First Ascent</th>
      <th>Description</th>
      <th>Date Route Complete</th>
    </tr>
  </thead>
  <tbody>
    {{#each crag.routes}}
      <tr id="route">
        <td>
          {{name}}
        </td>
        <td id="grade"> 
          {{grade}}
        </td>
         <td>
          {{height}}
        </td>
        <td>
          {{firstascent}}
        </td>
        <td>
          {{description}}
        </td>
         <td>
          {{datedone}}
        </td>
        <td>
        <td><a href="/crag/{{../crag._id}}/editroute/{{_id}}" class="ui icon button">
           <i class="fas fa-edit"></i>
            </a>
        </td>
        <td>
         <a href="/crag/{{../crag._id}}/deleteroute/{{_id}}" class="ui icon button">
                <i class="fas fa-trash-alt"></i>
            </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{!-- https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_sort_table_number --}}
{{!-- <script>
function sortTable() {
  var table, rows, switching, i, x, y, shouldSwitch;
  var grade = document.getElementById("grade");
  var route = document.getElementById("route");
  var routegrade = grade.innerText;
  var difficulty;
  if (routegrade == "Diff") {
    route.difficulty = 1;
  }
  else if (routegrade == "V Diff") {
    route.difficulty = 2;
  }
  else if (routegrade == "Severe") {
    route.difficulty = 3;
  }
  else if (routegrade == "Hard Severe") {
    route.difficulty = 4;
  }
  else if (routegrade == "Very Severe") {
    route.difficulty = 5;
  }
  else if (routegrade == "Hard Very Severe") {
    route.difficulty = 6;
  }
  else if (routegrade == "E1") {
    route.difficulty = 7;
  }
  else if (routegrade == "E2") {
    route.difficulty = 8;
  }
  else if (routegrade == "E3") {
    route.difficulty = 9;
  }
  else if (routegrade == "E4") {
    route.difficulty = 10;
  }
  else if (routegrade == "E5") {
    route.difficulty = 11;
  }
  else if (routegrade == "E6") {
    route.difficulty = 12;
  }
  else (routegrade == "E7") {
    route.difficulty = 13;
  }
  table = document.getElementById("routetable");
  switching = true;
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementById("grade");
      y = rows[i + 1].getElementById("grade");
      //check if the two rows should switch place:
      if ((x.innerText) > (y.route.difficulty)) {
        //if so, mark as a switch and break the loop:
        shouldSwitch = true;
        break;
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
    }
  }
}
</script> --}}